<div class="col {{ page.header.class}}">
    <div class="container center">
            <div class="col s12">
                {{ content }}
            </div>

    </div>

    <div style="clear:both"></div>
</div>
