<div class="col {{ page.header.class}}">
    <div class="container-fluid center">
            <div class="col s12">
                {{ content|raw }}
            </div>

    </div>

    <div style="clear:both"></div>
</div>
