{% set crumbs = breadcrumbs.get() %}
<nav>
    <div class="nav-wrapper nav-noshadow blue darken-2">
        {% if crumbs | length > 1 or config.plugins.breadcrumbs.show_all %}
            <div class="container">
                {% for crumb in crumbs %}
                    <a href="{{ crumb.url }}" class="breadcrumb">
                        {{ crumb.menu }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</nav>
