{% set crumbs = breadcrumbs.get() %}

<div class="row">
	<div class="col s12">
		<nav>
			<div class="nav-wrapper blue">
			{% if crumbs|length > 1 or config.plugins.breadcrumbs.show_all %}
				<div class="container">
				{% for crumb in crumbs %}
					<a href="{{ crumb.url }}" class="breadcrumb"> {{ crumb.menu }} </a>
				{% endfor %}
				</div>
			{% endif %}
			</div>
		</nav>
	</div>
</div>