{% set taxlist = taxonomylist.get() %}

{% if taxlist %}
	<span class="tags left-align chip">
		{% for tax, value in taxlist[taxonomy] %}
			<a href="{{ base_url }}/tag:{{ tax }}">{{ tax|upper }}<i class="material-icons">close</i></a>
		{% endfor %}
	</span>
{% endif %}
