{% set taxlist = taxonomylist.get() %}

{% if taxlist %}
	<span class="tags left-align chip">
		{% for tax, value in taxlist[taxonomy] %}
			<a href="{{ base_url }}/tag:{{ tax }}">{{ tax|upper }}</a>
		{% endfor %}
		<i class="material-icons">close</i>
	</span>
{% endif %}
