<footer class="page-footer grey darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Bacon ipsum dolor</h5>
        <p class="grey-text text-lighten-4">Shoulder pancetta pastrami brisket. Tri-tip strip steak pork swine, shank doner pancetta. Prosciutto ham pig strip steak. Shankle rump short loin corned beef, leberkas boudin frankfurter tri-tip shoulder tongue. Capicola flank tenderloin turducken meatball kielbasa.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="index.html">Home</a></li>
          <li><a class="white-text" href="card.html">Test Page</a></li>
          <li><a class="white-text" href="right-sidebar.html">Right Sidebar</a></li>
          <li><a class="white-text" href="left-sidebar.html">Left Sidebar</a></li>
          <li><a class="white-text" href="no-sidebar.html">no Sidebar</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">cloud</i>G</a></li>
          <li><a class="waves-effect waves-light btn yellow darken-1"><i class="material-icons left">email</i>L</a></li>
          <li><a class="waves-effect waves-light btn green darken-1"><i class="material-icons left">textsms</i>E</a></li>
          <li><a class="waves-effect waves-light btn blue darken-1"><i class="material-icons left">stars</i>F</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey darken-3">
              <div class="container">
              © 2014 Copyright Text
              <a class="grey-text text-lighten-4 right" href="#!">#</a>
              </div>
            </div>
</footer>
   {% block bottom %}{% endblock %}
   <!--  Scripts-->
   <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script src="/user/themes/mdux/js/materialize.js"></script>
   <script src="/user/themes/mdux/js/init.js"></script>

   </body>
 </html>
