<body>
  <nav class="blue darken-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Site Title / Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center grey-text text-darken-4">Jumbotron</h1>
      <div class="row center">
        <h5 class="header col s12 light grey-text text-darken-1">Or I guess some sort of a call-to-action.</h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light blue darken-2"><i class="material-icons left">cloud</i>Do Something!</a>
      </div>
      <br><br>

    </div>
  </div>
