	{% embed 'partials/base.html.twig' %}

		{% set collection = page.collection() %}

		{% block content %}
			{% set blog_image = page.media.images|first.grayscale().contrast(20).brightness(-100).colorize(-35,81,122) %}

			<div class="section">
			{% if config.plugins.breadcrumbs.enabled %}
			<div class="row">
				{% include 'partials/breadcrumbs.html.twig' %}
			</div>
			{% endif %}
			</div>

			<div class="container">

			<div class="row">
				<div class="col s12 grey darken-2"><p>s12</p></div>
			</div>

			<div class="row">

					<div class="col s12 m9 l9">

					{% for child in collection %}
								{% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
						{% endfor %}

					</div>

					</div>
					<div class="col s12 m3 l3">{% include 'partials/sidebar.html.twig' with {'blog':page} %}</div>
			</div>
			<div class="row">
					<div class="col s12 yellow">

					{% if config.plugins.pagination.enabled and collection.params.pagination %}
							{% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
					{% endif %}

					</div>
			</div>

				<div class="section">

				</div>
			</div>

		{% endblock %}

	{% endembed %}
