{% extends 'partials/blog.html.twig' %}

{% block content %}
<div class="row">
    <div class="col s12">
        <div id="item" class="block pure-u-2-3">
            {% include 'partials/blog_item.html.twig' with {'blog': page.parent, 'truncate': false} %}
        </div>
      </div>
  </div>
{% endblock %}

<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large {{ config.themes.mdux.acccolor }}">
        <i class="fa fa-share" aria-hidden="true"></i>
    </a>
    <ul>
        <li>
            <a class="btn-floating red">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue lighten-1">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="btn-floating green">
                <i class="material-icons">format_quote</i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue darken-3">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</div>
